<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @course.nome %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @course.sigla %>
</p>

<p>
  <strong>Site:</strong>
  <%= @course.site %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @course.campus %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @course.descricao %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
